Source: python-verboselogs
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Gaurav Juvekar <gauravjuvekar@gmail.com>
Build-Depends: debhelper (>= 10), dh-python,
               pypy,
               pypy-setuptools,
               python-all,
               python-setuptools,
               python3-all,
               python3-setuptools,
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2
Standards-Version: 3.9.8
Vcs-Browser: https://anonscm.debian.org/git/python-modules/packages/python-verboselogs.git
Vcs-Git: https://anonscm.debian.org/git/python-modules/packages/python-verboselogs.git
Homepage: https://verboselogs.readthedocs.io

Package: python-verboselogs
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
Recommends: ${python:Recommends}
Suggests: ${python:Suggests}
Description: Verbose logging level for the logging module in Python2
 This package extends the logging module with the log levels VERBOSE, NOTICE,
 and SPAM.
 The VERBOSE level sits between the predefined INFO and DEBUG levels.
 The NOTICE level sits between the predefined WARNING and INFO levels.
 The SPAM level sits between the predefined DEBUG and NOTSET levels.
 .
 This package provides the library for Python2.

Package: python3-verboselogs
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
Recommends: ${python3:Recommends}
Suggests: ${python3:Suggests}
Description: Verbose logging level for the logging module in Python3
 This package extends the logging module with the log levels VERBOSE, NOTICE,
 and SPAM.
 The VERBOSE level sits between the predefined INFO and DEBUG levels.
 The NOTICE level sits between the predefined WARNING and INFO levels.
 The SPAM level sits between the predefined DEBUG and NOTSET levels.
 .
 This package provides the library for Python3.

Package: pypy-verboselogs
Architecture: all
Depends: ${misc:Depends}, ${pypy:Depends},
Recommends: ${pypy:Recommends}
Suggests: ${pypy:Suggests}
Description: Verbose logging level for the logging module in Python
 This package extends the logging module with the log levels VERBOSE, NOTICE,
 and SPAM.
 The VERBOSE level sits between the predefined INFO and DEBUG levels.
 The NOTICE level sits between the predefined WARNING and INFO levels.
 The SPAM level sits between the predefined DEBUG and NOTSET levels.
 .
 This package provides the library for PyPy.
